<p>
  <strong><%= User.human_attribute_name(:id) %>:</strong>
  <%= @user.id %>
</p>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:created_at) %>:</strong>
  <%= @user.created_at %>
</p>

<% if @user.id == current_user.id %>
  <a>編集画面へのリンク(ダミー)</a> |
<% end %>
<%= link_to t('views.common.back'), users_path %>
