<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:content) %>:</strong>
  <%= @report.content %>
</p>

<% if @report.editable? current_user %>
  <%= link_to t('views.common.edit'), edit_report_path(@report) %> |
<% end %>

<h2><%= Comment.model_name.human %></h2>
<div class="comments-wrapper">
  <% @report.comments.each do |comment| %>
    <div class="comment-wrapper">
      <div><%= comment.user.name || comment.user.email %></div>
      <div><%= comment.content %></div>
    </div>
  <% end %>
</div>

<%= form_with model: [@report, @report.comments.new], local: true do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<br /><%= link_to t('views.common.back'), reports_path %>
