<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <p id="notice"><%= notice %></p>
      <% if user_signed_in? %>
        <ul style="display: flex; list-style: none; justify-content: space-between; max-width: 280px; padding-inline-start: initial;">
          <li><%= link_to Book.model_name.human, books_path %></li>
          <li><%= link_to User.model_name.human, users_path %></li>
          <li><%= link_to t('views.common.sign_out'), destroy_user_session_path, method: :delete %></li>
        </ul>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
