<h2><%= Comment.model_name.human %></h2>
<% if comments.empty? %>
  <p><%= t('views.common.does_not_exist', data: Comment.model_name.human ) %></p>
<% else %>
  <div class="comments-wrapper">
    <% comments.each do |comment| %>
      <div class="comment-wrapper">
        <div>
          <%= comment.user.name || comment.user.email %> |
          <%= l comment.created_at, format: :short %>
        </div>
        <div><%= comment.content %></div>
      </div>
    <% end %>
  </div>
<% end %>
